<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <title>Contact | factsvine</title>
</head>

<body>

    {% extends "template.html" %}
    {% block content %}

	<br><br><br>
	<h1>Contact</h1>
	<br>
	<form id="gform" method="POST" action="https://script.google.com/macros/s/AKfycbyeiuQNivchbC7hBe88mPNGhkyo2sH-GTn9lOTloeAiK8Dig-4W/exec">
        <div class="form-group">
            <label for="[1] Name">Name</label>
            <input required type="text" id="[1] Name" name="[1] Name" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="[2] Email">Email</label>
            <input required type="email" id="[2] Email" name="[2] Email" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="[3] Message">Message</label>
            <textarea required type="text" id="[3] Message" name="[3] Message" class="form-control" placeholder=""></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
	</form>
	
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>

</body>

</html>